
/*body {
    font-family: Verdana, sans-serif;
}
 */

button.logout-button {
    float: right;
    vertical-align: top;
}

span.title-style {
    font-size:1.5em;
    font-weight: bold;
}

section.login-form {
    max-width: 400px;
}






