@import url('../third-party/pico/pico.min.css');

/*body {
    font-family: Verdana, sans-serif;
}
 */

button.logout-button {
    float: right;
    vertical-align: top;
}

span.title-style {
    font-size:1.5em;
    font-weight: bold;
}

section.login-form {
    max-width: 400px;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('../third-party/fonts/MaterialSymbolsOutlined.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}