@import url('../third-party/pico/pico.min.css');
@import url('../third-party/pico/pico.colors.min.css');

span.title-style {
    font-size:1.5em;
    font-weight: bold;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('../third-party/fonts/MaterialSymbolsOutlined.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

a {
    text-decoration: none;
    color: var(--pico-color-zinc-600);
    transition: all 0.1s ease;
}
a:hover {
    color: var(--pico-color-azure-600);
    transform: scale(1.1); /* Zoom-Effekt */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}