.picture-box {
    position: relative; /* Damit das Overlay sich am Bild orientiert */
    overflow: hidden;   /* Verhindert, dass das Label übersteht */
    width: 300px;
    height: 200px;
    background-color: white;

    display: flex;
    align-items: center; /* Vertikal zentrieren */
    justify-content: center; /* Horizontal zentrieren */

    /* text-align: center; */
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    margin: 2px;

    transition: transform 0.2s ease-out;
}

.picture-box .filename {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 4px;
    margin: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.picture-box:hover .filename {
    opacity: 1;
}


.picture-box.hover-effect {
    transform: scale(1.1);
}

/* Stil für das Bi ld */
.picture-box img {
    max-width: 100%;
    max-height: 100%;
    /* transition: transform 0.2s ease-out;*/
}

.picture-box:hover img {
    /* transform: scale(1.1); */
}

/* Stil für die Unterschrift */
.picture-box .signature {
    font-style: italic;
    color: #555;
}